@import "../scss/reset.scss";
$header_height: 10rem;
$pink: #f3989a;
@media print {
}
* {
  font-family:"Roboto Mono", sans-serif;
}
body {
  line-height: 1;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0 20%;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  position: relative;
  // background-color: #000 !important;
  #capture {
    padding: 5% 0 0 0;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    #info {
      .name {
        font-size: 5rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      .job-title {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.2rem;
      }
    }
    #main{
      .content{
        font-size: 14px;
      }
      h2.title{
        font-size: 1.5rem;
        margin: .5rem 0;
        font-weight: 700;
      }
      margin: 1rem 0;
      width: 100%;
      border-top: 2px solid black;
      display: flex;
      #left{
        min-height: 1rem;
        border-right: 1px solid black;
        width: 35%;
        padding: 0 0 0rem 1rem;
      }
      #right{
        min-height: 1rem;
        border-left: 1px solid black;
        padding-left: 1rem;
        .heading{
          h3.title{
            font-size: 1rem;
            font-weight: 700;
            margin: 0;
            padding: 0;
          }
          ul {
            margin-left: 2rem;
            & > li {
              margin: .5rem 0;
              list-style: disc;
              }
              li {
                & > .date{
                  font-size: 0.8rem;
                  font-weight: 500;
                  font-style: italic;
                  margin: .2rem 0;
                  padding: 0;
                }
                ul > li{
                  list-style: circle  ;
                }
                h4{
                  margin-top: .5rem;
                }
                h4:first{
                  margin-bottom: .5rem;
                  margin-top: 0rem;
                }
                .description_content{
                  padding-top: .2rem;
                  width: 400px;
                }
              }
          }
        }
      }
    }
    #contact{

    }
  }
  #btn-download-cv {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    // background-color: transparent;
    border: none;
    outline: none;
    box-shadow: rgba(31, 211, 15, 0.16) 0px 1px 4px,
      rgb(0, 235, 31) 0px 0px 0px 3px;
    border-radius: 100rem;
    background-color: rgb(0, 235, 31);
    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg)
        brightness(102%) contrast(101%);
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
.btn-download-cv{
  bottom: 2rem;
  right: 5rem;
  position: fixed;
  width: 2rem;
  height: 2rem;
  fill: cadetblue;
}