@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: none; }

html {
  font-family: 'Rokkitt', serif;
  font-size: 1rem;
  scroll-behavior: smooth; }

.notworking {
  display: none; }

.social-icons {
  width: 2rem;
  height: 2rem; }

a {
  color: #42464f !important; }

body {
  display: block;
  box-sizing: border-box; }
  body .left-side {
    backdrop-filter: saturate(180%) blur(5px);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    z-index: 500;
    padding: 0 10%;
    background-color: rgba(245, 245, 245, 0.7);
    height: 60px;
    align-items: center; }
    body .left-side__brand__field {
      display: flex;
      align-items: center;
      width: 30%;
      gap: 0 1rem; }
      body .left-side__brand__field__logo {
        width: 42px;
        height: 42px;
        border-radius: 100%; }
      body .left-side__brand__field__name {
        font-size: 2rem;
        background: #17cfc3;
        background: radial-gradient(circle farthest-corner at center center, #17cfc3 0%, #4f82cf 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent; }
    body .left-side #direct {
      width: 70%;
      padding: 1rem 0; }
    body .left-side #direct {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      background-color: transparent;
      color: #dadadc !important;
      line-height: 1 !important;
      justify-content: space-between; }
  body main {
    box-sizing: border-box;
    padding: 0 10%; }
    body main p.title {
      letter-spacing: 0.5rem;
      font-size: 0.8rem;
      color: #42464fa4; }
    body main .xyz {
      min-height: 100vh;
      padding: 10rem 0;
      padding-top: 70px;
      box-sizing: border-box; }
    body main #home {
      height: 100vh;
      position: relative; }
      body main #home .intro {
        position: absolute;
        padding-left: 2rem;
        top: 50%;
        translate: 0% -50%; }
        body main #home .intro .xxas {
          font-size: 2rem;
          font-weight: bold;
          overflow: hidden;
          /* Ensures the content is not revealed until the animation */
          letter-spacing: 0.15em;
          /* Adjust as needed */ }
        body main #home .intro a {
          background: transparent;
          border: 1px solid #000;
          padding: 0.5rem 1rem;
          margin: 3rem 0;
          display: inline-block;
          outline: none;
          text-decoration: none;
          font-weight: 600;
          cursor: pointer; }
          body main #home .intro a:hover {
            background: rgba(0, 0, 0, 0.1); }
          body main #home .intro a img {
            width: 1rem;
            height: 1rem; }
        body main #home .intro #homeIntro {
          animation: fadein 5s; }

@keyframes fadein {
  from {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  to {
    opacity: 1; } }
    body main #about {
      display: flex;
      flex-direction: column; }
      body main #about #introMySelf {
        margin: 1rem 0;
        font-size: 1rem;
        line-height: 2rem; }
      body main #about .gh-contributors {
        margin-top: auto;
        font-size: 1.2rem;
        font-weight: bold; }
    body main #education #education-timeline {
      margin: 1rem 0; }
      body main #education #education-timeline .education {
        display: flex;
        gap: 0 2rem;
        margin: 1rem 0; }
        body main #education #education-timeline .education img {
          width: 8rem;
          height: 8rem; }
        body main #education #education-timeline .education__box {
          width: 50%;
          border-radius: 0.5rem;
          padding: 1rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
        body main #education #education-timeline .education__line {
          height: 2px;
          background-color: #000;
          margin: 0.2rem 0;
          width: 4rem; }
        body main #education #education-timeline .education button {
          background: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 2px;
          color: #69a9df;
          font-weight: bold;
          font-size: 1.2rem; }
        body main #education #education-timeline .education__majoring {
          display: flex;
          width: 100%; }
          body main #education #education-timeline .education__majoring a {
            margin-left: auto;
            margin-right: 0.2rem; }
        body main #education #education-timeline .education__show-more ul {
          margin: 0 1rem; }
          body main #education #education-timeline .education__show-more ul li {
            list-style: disc; }
    body main .skills__show {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 0;
      box-sizing: border-box;
      gap: 1rem;
      margin: 1rem 0; }
      @media screen and (max-width: 120px) {
        body main .skills__show {
          display: none; } }
      body main .skills__show .item {
        box-sizing: border-box;
        padding: 0.5rem;
        flex: 0 0 21%;
        /* explanation below */
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem 0;
        border-radius: 15px; }
        @media screen and (max-width: 768px) {
          body main .skills__show .item {
            flex: 0 0 45%; } }
      body main .skills__show__title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #69a9df; }
    body main #contact {
      display: flex;
      flex-direction: column; }
    body main .hire-me {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex; }
      body main .hire-me div {
        flex: 0 0 50%; }
    body main .contact {
      display: flex;
      gap: 0 1rem;
      box-sizing: border-box;
      margin: auto 0; }
      body main .contact__card {
        box-sizing: border-box;
        flex: 0 0 50%;
        margin: 0 auto; }
        body main .contact__card__send {
          padding: 2rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    body main #projects .project__items {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: 3rem;
      box-sizing: border-box;
      margin: 1rem 0; }
      body main #projects .project__items__item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
        body main #projects .project__items__item__name {
          font-size: 1.2rem;
          font-weight: bold;
          color: #69a9df; }
        body main #projects .project__items__item__image {
          margin: 0 auto;
          border: 1px solid black;
          width: 80%;
          height: 10rem; }
        body main #projects .project__items__item__technicals {
          display: flex;
          gap: 1rem;
          flex-wrap: wrap; }
          body main #projects .project__items__item__technicals__technical {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 0.2rem;
            font-size: 1rem;
            font-weight: bold;
            color: #69a9df;
            background: #edf2f7;
            padding: 0.5rem;
            border-radius: 8px; }
            body main #projects .project__items__item__technicals__technical__image {
              width: 2rem;
              height: 2rem; }
        body main #projects .project__items__item__description ul {
          padding: 0 1rem; }
        body main #projects .project__items__item__link {
          display: flex;
          gap: 0 1rem; }
          body main #projects .project__items__item__link a {
            padding: 0.5rem 1.5rem;
            border-radius: 8px;
            background: #69a9df;
            display: flex;
            justify-content: center;
            align-items: center; }
            body main #projects .project__items__item__link a:hover {
              transform: translateY(-0.2rem) scale(1.1);
              transition: transform 0.3s ease-in-out;
              box-shadow: #26394d 0px 20px 30px -10px; }
          body main #projects .project__items__item__link__img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }

.box {
  position: relative;
  text-align: left;
  font-size: 1rem; }
  .box .selected::after {
    top: 100%;
    height: 2px !important;
    width: 90% !important;
    left: 5% !important;
    background-color: #69a9df !important;
    content: '';
    position: absolute; }
  .box .selected {
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-align: center; }
  .box .custom-underline {
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    font-size: 1.4rem; }
  .box .custom-underline::after,
  .box .selected::after {
    content: '';
    position: absolute; }
  .box .custom-underline,
  .box .custom-underline:hover,
  .box .custom-underline:focus,
  .box .custom-underline:active {
    text-decoration: none; }
  .box .custom-underline::after {
    top: 100%;
    height: 2px !important;
    width: 40%;
    left: 30%;
    background-color: transparent;
    transition: 0.4s ease-out all 0.1s; }
  .box:hover .custom-underline::after {
    width: 90%;
    left: 5%;
    background-color: #69a9df;
    transition: 0.5s ease all; }

.hide {
  display: none; }

ul {
  list-style: disc; }

.work span {
  display: block; }

.work__position {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem; }

.work__address, .work__time {
  font-size: 0.9rem;
  margin-bottom: 0.2rem; }

.work__address {
  font-weight: bold; }

.work__time {
  font-style: italic; }

.work__description {
  margin: 0 1.5rem; }

.timeline {
  margin: 1rem 0 !important; }
  .timeline::before {
    background-color: #69a9df !important; }
  .timeline__item {
    padding-top: 5px !important;
    padding-bottom: 5px !important; }
    .timeline__item::after {
      border: 4px solid #69a9df !important; }
    .timeline__item--right .work {
      border-left: 4px solid #69a9df; }
    .timeline__item--right .timeline__content {
      padding-left: 0 !important; }
      .timeline__item--right .timeline__content::before {
        border-right-color: #69a9df !important; }
      .timeline__item--right .timeline__content::after {
        border-right-color: #69a9df !important; }
    .timeline__item--left .work {
      border-right: 4px solid #69a9df; }
    .timeline__item--left .timeline__content {
      padding-right: 0 !important;
      padding-left: 16px !important; }
      .timeline__item--left .timeline__content::before {
        border-left-color: #69a9df !important; }
      .timeline__item--left .timeline__content::after {
        border-left-color: #69a9df !important; }
  .timeline__content {
    border: none !important; }
    .timeline__content .work {
      padding: 1rem;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px; }

.form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
  padding: 5px;
  border-radius: 4px;
  font-weight: normal;
  width: 100%;
  /* reset input */ }
  .form h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 5px 0; }
  .form .btn-send {
    display: block;
    background-color: #69a9df;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.3s ease-out all; }
    .form .btn-send:hover {
      background-color: #38ef7d; }
  .form .form__group {
    box-sizing: border-box;
    position: relative;
    padding: 15px;
    margin-top: 10px;
    width: 100%; }
  .form .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.2rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s; }
    .form .form__field::placeholder {
      color: transparent; }
    .form .form__field:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px; }
  .form .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b; }
  .form .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #69a9df, #38ef7d);
    border-image-slice: 1; }
    .form .form__field:focus ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #69a9df;
      font-weight: 700; }
  .form .form__field:required, .form .form__field:invalid {
    box-shadow: none; }

.hire-me {
  display: flex;
  gap: 0 2rem;
  justify-content: center; }
  .hire-me__card {
    text-decoration: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem 0.5rem; }
    .hire-me__card img {
      filter: invert(57%) sepia(99%) saturate(239%) hue-rotate(167deg) brightness(93%) contrast(87%); }
    .hire-me__card:hover img {
      transform: translateY(-5px);
      transition: ease-in-out 0.5s all; }

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold; }

.showUp {
  color: #69a9df; }

.fadeInOut {
  animation: fadeinout 2s; }

@keyframes fadeinout {
  0%,
  10%,
  90%,
  100% {
    opacity: 0; }
  11%,
  89% {
    opacity: 1; } }

.tile {
  margin-top: 40px;
  -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
  transform: translateY(50px) rotate(-5deg) translateZ(0);
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.bottom-right.inView {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0); }

.inView {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0); }

section {
  padding: 20px; }

@media screen and (max-width: 1366px) {
  body {
    display: block;
    width: 100%; }
    body .xyz {
      padding: 1rem; }
    body .left-side {
      display: flex;
      flex-direction: row;
      position: fixed;
      width: 100%;
      padding: 0 0.5rem;
      z-index: 50;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }
      body .left-side #direct {
        display: flex;
        justify-content: space-between; }
        body .left-side #direct .box {
          width: auto; }
    body main {
      margin: 0; }
  body main #projects .project__items {
    grid-template-columns: repeat(2, 1fr); } }

button:hover {
  background-color: rgba(255, 255, 255, 0.08); }

button:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 8px; }

button img {
  width: 1.5rem;
  height: 1.5rem; }

a > img {
  width: 1.5rem;
  height: 1.5rem; }

.btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px; }

.btn-show-header {
  display: none;
  z-index: 1000;
  margin-left: 1.5rem; }

.btn-theme-change {
  margin-left: 2rem; }

@media screen and (max-width: 767px) {
  .hire-me__card {
    width: 7rem; }
  .left-side__brand__field__name {
    display: none; }
  .btn-theme-change {
    margin-left: auto; }
  .btn-show-header {
    display: block;
    right: 10px;
    background-color: transparent; }
  body header {
    display: flex !important; }
  body header #direct {
    z-index: 50;
    display: none;
    flex-direction: column !important;
    position: absolute;
    gap: 0.7rem;
    right: 10px;
    top: 65px;
    border-radius: 8px;
    width: 30% !important;
    padding: 1rem !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #f5f5f5 !important;
    backdrop-filter: none;
    font-size: 1.2rem; }
  .gh-contributors {
    display: none; }
  body main #projects .project__items {
    grid-template-columns: repeat(1, 1fr); }
  body main .contact {
    display: block; }
  body main #education #education-timeline .education {
    flex-direction: column; }
    body main #education #education-timeline .education > div {
      width: 100%;
      box-sizing: border-box; }
  .box .custom-underline::after {
    transition: 0s; }
  .box:hover .custom-underline::after {
    transition: 0s; }
  .truncate {
    width: 5rem; }
  .tile {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0); } }

@media screen and (max-width: 200px) {
  body main .xyz,
  .xyz,
  .left-side,
  nav {
    display: none !important; }
  .notworking {
    width: 100vw;
    height: 100vh;
    display: block; } }

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: rgba(253, 253, 253, 0.171); }

.loading {
  display: flex;
  justify-content: center; }
  .loading div {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    background: #979fd0;
    border-radius: 50%;
    animation: 0.9s bounce infinite alternate; }
    .loading div:nth-child(2) {
      animation-delay: 0.3s; }
    .loading div:nth-child(3) {
      animation-delay: 0.6s; }

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0); } }

.dark-mode ::-webkit-scrollbar-thumb {
  background-color: #323338; }

.dark-mode ::-webkit-scrollbar-track {
  background-color: transparent; }

.dark-mode ::-webkit-scrollbar {
  background-color: transparent; }

.dark-mode #projects .project__items__item__technicals__technical {
  background-color: #434c5e !important;
  color: #d8dee9; }

.dark-mode .project__items__item__image {
  filter: invert(98%) sepia(3%) saturate(1409%) hue-rotate(181deg) brightness(100%) contrast(89%); }

.dark-mode #home .intro a {
  color: #d8dee9 !important; }
  .dark-mode #home .intro a img {
    filter: invert(98%) sepia(3%) saturate(1409%) hue-rotate(181deg) brightness(100%) contrast(89%); }

.dark-mode input::placeholder,
.dark-mode .form__label,
.dark-mode .form__field {
  color: #d8dee9; }

.dark-mode .hire-me__card p {
  color: #d8dee9; }

.dark-mode .title {
  color: #d8dee9a4; }

.dark-mode .timeline__content {
  background: #434c5e;
  color: #d8dee9; }

.dark-mode .left-side {
  background-color: #3b4252;
  color: #e5e9f0; }
  .dark-mode .left-side #direct {
    background-color: #3b4252 !important; }
    .dark-mode .left-side #direct .box a {
      color: #e5e9f0 !important; }

.dark-mode .btn > img {
  filter: invert(98%) sepia(3%) saturate(1409%) hue-rotate(181deg) brightness(100%) contrast(89%); }

.dark-mode main {
  background-color: #2e3440;
  color: #eceff4; }
